<div class="container-fluid">
    <div class="col-md-12">
        <h2 style="text-align:center;"><b><u>Education</u></b></h2>
        <div class="row">
            <hr class="tall" style="border-top:none;" />
            <div class="timeline timeline-line-dotted">
                <span class="timeline-label">
                    <span class="label label-primary">17.07.2014</span>
                </span>
                <div class="timeline-item">
                    <div class="timeline-point timeline-point-success">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h5>B.E (Computer Science & Engineering)</h5>
                        </div>
                        <div class="timeline-body">
                            <p>Passed Bachelor of Engineering from Nagpur University with First Division</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">17.07.2014 08:00</p>
                        </div>
                    </div>
                </div>    
                <span class="timeline-label">
                    <span class="label label-primary">07.06.2008</span>
                </span>
                <div class="timeline-item">
                    <div class="timeline-point timeline-point-success">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h5>Higher Secondary School Certificate</h5>
                        </div>
                        <div class="timeline-body">
                            <p>Passed HSC from Nagpur Division of Pune Secondary and Higher Secondary Education Board</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">07.06.2008 11:00</p>
                        </div>
                    </div>
                </div>
                <span class="timeline-label">
                    <span class="label label-primary">26.05.2006</span>
                </span>
                <div class="timeline-item">
                    <div class="timeline-point timeline-point-success">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h5>Secondary School Certificate</h5>
                        </div>
                        <div class="timeline-body">
                            <p>Passed SSC from Nagpur Division of Pune Secondary and Higher Secondary Education Board</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">26.06.2006 11:00</p>
                        </div>
                    </div>
                </div>
              
                      
            </div>
        </div>
    </div>
</div>