<div class="container-fluid">
    <h1 style="text-align:center;"><b><u>MY CV</u></b></h1>
    <hr class="tall" style="border-top:none;" />
    <div class="row">      
        <div class="col-md-8">
            <object data="../../../Images/nikhilghuse.pdf" style="width:100%; height:100%;"></object>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="../../../Images/me.jpg">
                <div class="caption">
                    <h2 style="text-align:left;"><u>Profile</u></h2>
                    <p>
                        Name   : Nikhil D Ghuse
                    </p>
                    <p>
                        Email  : nikhil.ghuse@gmail.com
                    </p>
                    <p>
                        Cell No: 7385420210 / 8668426979
                    </p>

                </div>
            </div>
        </div>
    </div>
    <hr class="tall" style="border-top:none;" />
</div>