<section id="blogsSection" class="color-4">
    <div class="container-fluid" style="color:white; text-align:center;">
        <h1 style="color:white;text-align:center;"><b><u>My Blogs</u></b></h1>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <a href="Blogs/BlogsHTML.html">
                        <div class="thumbnail">
                            <img src="../../../Images/html5.png" class="img-thumbnail">
                        </div>
                    </a>
                    <div class="caption">
                        <h3><u><b>HTML &amp; HTML-5 Blogs</b></u></h3>
                    </div>

                </div>
                <div class="col-md-2">
                    <a href="Blogs/BlogsCSS.html">
                        <div class="thumbnail">
                            <img src="../../../Images/css3.png" class="img-thumbnail">
                        </div>
                    </a>
                    <div class="caption">
                        <h3><u><b>CSS &amp; CSS-3 Blogs</b></u></h3>
                    </div>

                </div>
                <div class="col-md-2">
                    <a href="Blogs/BlogsJavascript.html">
                        <div class="thumbnail">
                            <img src="../../../Images/javascript.png" class="img-thumbnail">
                        </div>
                    </a>
                    <div class="caption">
                        <h3><u><b>JAVASCRIPT Blogs</b></u></h3>
                    </div>

                </div>
                <div class="col-md-2">
                    <a href="Blogs/BlogsjQuery.html">
                        <div class="thumbnail">
                            <img src="../../../Images/jquery.png" class="img-thumbnail">
                        </div>
                    </a>
                    <div class="caption">
                        <h3><u><b>jQuery Blogs</b></u></h3>
                    </div>

                </div>
                <div class="col-md-2">
                    <a href="Blogs/BlogsBootStrap.html">
                        <div class="thumbnail">
                            <img src="../../../Images/bootstrap.png" class="img-thumbnail">
                        </div>
                    </a>
                    <div class="caption">
                        <h3><u><b>Bootstrap Blogs</b></u></h3>
                    </div>

                </div>
                <div class="col-md-2">
                    <a href="Blogs/BlogsSementic.html">
                        <div class="thumbnail">
                            <img src="../../../Images/semantic.png" class="img-thumbnail">
                        </div>
                    </a>
                    <div class="caption">
                        <h3><u><b>Sementic Blogs</b></u></h3>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <a href="Blogs/BlogsDapper.html">
                    <div class="thumbnail">
                        <img src="../../../Images/dapper.png" class="img-thumbnail">
                    </div>
                </a>
                <div class="caption">
                    <h3><u><b>Dapper Blogs</b></u></h3>
                </div>

            </div>
            <div class="col-md-2">
                <a href="Blogs/BlogsNHibernate.html">
                    <div class="thumbnail">
                        <img src="../../../Images/nhibernate.png" class="img-thumbnail">
                    </div>
                </a>
                <div class="caption">
                    <h3><u><b>NHibernate Blogs</b></u></h3>
                </div>

            </div>
            <div class="col-md-2">
                <a href="Blogs/BlogsEntityFrameWork.html">
                    <div class="thumbnail">
                        <img src="../../../Images/entityFrameWork.png" class="img-thumbnail">
                    </div>
                </a>
                <div class="caption">
                    <h3><u><b>Entity Framework Blogs</b></u></h3>
                </div>

            </div>
            <div class="col-md-2">
                <a href="Blogs/BlogsSkeleton.html">
                    <div class="thumbnail">
                        <img src="../../../Images/skeleton.png" class="img-thumbnail">
                    </div>
                </a>
                <div class="caption">
                    <h3><u><b>Skeleton Blogs</b></u></h3>
                </div>

            </div>
            <div class="col-md-2">
                <a href="Blogs/BlogsAspMVC.html">
                    <div class="thumbnail">
                        <img src="../../../Images/ASPmvc.png" class="img-thumbnail">
                    </div>
                </a>
                <div class="caption">
                    <h3><u><b>Asp.net (MVC) Blogs</b></u></h3>
                </div>

            </div>
            <div class="col-md-2">
                <a href="Blogs/BlogsCSharp.html">
                    <div class="thumbnail">
                        <img src="../../../Images/Csharp.png" class="img-thumbnail">
                    </div>
                </a>
                <div class="caption">
                    <h3><u><b>C# Blogs</b></u></h3>
                </div>

            </div>

        </div>
        <hr>
        <div class="row">

            <div class="col-md-2">
                <a href="Blogs/BlogsLinQ.html">
                    <div class="thumbnail">
                        <img src="../../../Images/linQ.png" class="img-thumbnail">
                    </div>
                </a>
                <div class="caption">
                    <h3><u><b>LinQ Blogs</b></u></h3>
                </div>

            </div>
            <div class="col-md-2">
                <a href="Blogs/BlogsAngularJS.html">
                    <div class="thumbnail">
                        <img src="../../../Images/angular.png" class="img-thumbnail">
                    </div>
                </a>
                <div class="caption">
                    <h3><u><b>Angular JS Blogs</b></u></h3>
                </div>

            </div>
        </div>

    </div>
</section>