<div class="container-fluid" style="padding-top:50px;">
    <h2 style="text-align:center; color:black"><b><u>About Me</u></b></h2>

    <div class="row" style="">
        <div class="col-md-4">
            <img src="../../../Images/me.jpg" class="img-responsive" />
        </div>
        <div class="col-md-8">
            <br />
            <p>
                I am an Enthusiastic software develper
                Working on .net based technologies and ORM's
                including Nhibernate Entity framwork and Dapper
                Also Work on Ajax Jquery Javascript and CSS and BootStrap
            </p>
            <p>
                I am an Enthusiastic software develper
                Working on .net based technologies and ORM's
                including Nhibernate Entity framwork and Dapper
                Also Work on Ajax Jquery Javascript and CSS and BootStrap
            </p>
            <p>
                I am an Enthusiastic software develper
                Working on .net based technologies and ORM's
                including Nhibernate Entity framwork and Dapper
                Also Work on Ajax Jquery Javascript and CSS and BootStrap
            </p>
        </div>
    </div>
</div>