
<div class="container-fluid">
    <div class="col-md-12">      
        <h2 style="text-align:center;"><b><u>Experience</u></b></h2> 
        <div class="row">           
          
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="fa fa-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h5 class="timeline-title">Senior Software Developer</h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 years ago via Medsynaptic Pvt Ltd (Dec 2015)</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Start working for Medsynaptic Pvt Ltd as Software Developer (14-12-2015 to Till Date)</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="fa fa-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h5 class="timeline-title">Software Developer</h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3 years ago via Ria info Solutions Pvt Ltd (Aug 2014)</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Start working for Ria Info Solution as Software Developer (04-08-2014 to 10-10-2015)</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="fa fa-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h5 class="timeline-title">Trainee Engineer</h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3.5 years ago via IT-Networkz Pvt Ltd (May 2014)</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Work as a trainee Enginaeer at IT-Networkz,Nagpur For 2 months training programm in May/June 2014.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>  
</div>
