<section id="top-strip">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-1">
                <div class="ct-topbar">
                    <ul class="list-unstyled list-inline ct-topbar__list">
                        <li class="ct-language" style="text-align:center;">
                            <label style="font-size:12px; padding:2px;">LANGUAGE</label>
                            <ul class="list-unstyled ct-language__dropdown">
                                <li class="active"><a href="#googtrans(en|en)" class="lang-en lang-select" data-lang="en"><img src="../../../flags/us.svg" style="width:20px; height:15px;" alt="USA">-US</a></li>
                                <li><a href="#googtrans(en|es)" class="lang-es lang-select" data-lang="es"><img src="../../../flags/in.svg" style="width:20px; height:15px;" alt="INDIA">-IN</a></li>
                                <li><a href="#googtrans(en|fr)" class="lang-es lang-select" data-lang="fr"><img src="../../../flags/ru.svg" style="width:20px; height:15px;" alt="RUSSIA">-RU</a></li>
                                <li><a href="#googtrans(en|zh-CN)" class="lang-es lang-select" data-lang="zh-CN"><img src="../../../flags/cn.svg" style="width:20px; height:15px;" alt="CHINA">-CH</a></li>
                                <li><a href="#googtrans(en|ja)" class="lang-es lang-select" data-lang="ja"><img src="../../../flags/jp.svg" style="width:20px; height:15px;" alt="JAPAN">-JP</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-5" style="text-align:right;">
                <label> Contact : +91 8668426979</label> || &nbsp;
                <label> Email : <a href="mailto:nikhil.ghuse@gmail.com" style="color:white;">nikhil.ghuse@gmail.com</a> </label>
            </div>
        </div>
    </div>
</section>

<header id="headerSection" style="background-image: url('../../../Images/developer.png');
        background-repeat: no-repeat; background-size: 100% 100%; opacity:0.5;">
    <br />
    <div class="banner-info">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="header-text">
                    <h2>NIKHIL D GHUSE</h2>
                    <h3> - <span>SOFTWARE DEVELOPER</span> - </h3>
                </div>
            </div>
            <div class="clearfix"> </div>
            <hr class="tall" style="border-top:none;" />
        </div>
    </div>
</header>
<div class="top-nav">
    <nav class="cl-effect-2 visible-lg visible-md" data-spy="affix" data-offset-top="400" style="z-index:1000;">
        <a class="navbar-brand"></a>
        <a role="button" [routerLink]="['/home']" routerLinkActive="active-link"><i class="fa fa-home" aria-hidden="true"></i><span data-hover="Home">Home</span></a>
        <a role="button" [routerLink]="['/about']"><i class="fa fa-user" aria-hidden="true"></i><span data-hover="About">About</span></a>
        <a role="button" [routerLink]="['/education']"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span data-hover="Education">Education</span></a>
        <a role="button" [routerLink]="['/experience']"><i class="fa fa-briefcase" aria-hidden="true"></i><span data-hover="Experience">Experience</span></a>
        <a role="button" [routerLink]="['/skill']"><i class="fa fa-sliders" aria-hidden="true"></i><span data-hover="Skills">Skills</span></a>
        <a role="button" [routerLink]="['/pricing']"><i class="fa fa-money" aria-hidden="true"></i><span data-hover="Pricing">Pricing</span></a>
        <a role="button" [routerLink]="['/blogs']"><i class="fa fa-newspaper-o" aria-hidden="true"></i><span data-hover="Blogs">Blogs</span></a>
        <a role="button" [routerLink]="['/work']"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span data-hover="My Work">My Work</span></a>
        <a role="button" [routerLink]="['/cv']"><i class="fa fa-file-word-o" aria-hidden="true"></i><span data-hover="CV">CV</span></a>
        <a role="button" [routerLink]="['/contact']"><i class="fa fa-envelope-o" aria-hidden="true"></i><span data-hover="Contact">Contact  </span></a>
        <a href="https://cpanel.freehosting.com:2083/" role="button"><i class="fa fa-user" aria-hidden="true"></i><span data-hover="Admin">Admin  </span></a>
    </nav>

</div>
<nav class="navbar color-4 navbar-inverse visible-xs" style="background-color:#2195de; color:White;z-index:101;" data-spy="affix" data-offset-top="500">
    <div class="navbar-header">
        <button type="button" style="background-color:black;" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span style="color:white;" class="icon-bar"></span>
            <span style="color:white;" class="icon-bar"></span>
            <span style="color:white;" class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color:white;">Portfolio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" style="text-align:left;">
            <li><a href="#headerSection" style="color:White;"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp; Home</a></li>
            <li><a href="#aboutSection" style="color:White;"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; About</a></li>
            <li><a href="#educationSection" style="color:White;"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;&nbsp; Education</a></li>
            <li><a href="#experienceSection" style="color:White;"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp; Experience</a></li>
            <li><a href="#pricingSection" style="color:White;"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp; Pricing</a></li>
            <li><a href="#skillsSection" style="color:White;"><i class="fa fa-sliders" aria-hidden="true"></i>&nbsp;&nbsp; Skills</a> </li>
            <li><a href="#cvSection" style="color:White;"><i class="fa fa-file-word-o" aria-hidden="true"></i>&nbsp;&nbsp; MY CV</a></li>
            <li><a href="#myWorkSection" style="color:White;"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp; My Work</a></li>
            <li><a href="#blogsSection" style="color:White;"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;&nbsp; Blog</a></li>
            <li><a href="#contactUsSection" style="color:White;"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp; Contact</a></li>
            <li><a href="https://cpanel.freehosting.com:2083/" style="color:White;"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; Admin</a></li>

        </ul>
    </div>
</nav>           