
<div class="container-fluid">
    <h1 style="text-align:center;"><b><u>My Work</u></b></h1>
    <div class="row" >
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="../../../Images/nad1.png">
                <div class="caption">
                    <h3>IEJRD.COM</h3>
                    <p>The "International Engineering Journal For Research &amp; Development " (IEJRD) is a peer-reviewed, monthly, online international research journal, which publishes original articles, research articles, review articles </p>
                </div>
                <button class="btn btn-primary"> <a href="http://iejrd.com" style="color:white;">Click</a></button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="thumbnail">
                <h3>Sample</h3>
                <img src="../../../Images/iejrd.png" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>
