<div class="container-fluid">
    <h2 style="text-align:center;"><b><u>My Skill</u></b></h2>
    <br />
    <div class="row" style="text-align:center;">
        <div class="col-md-3">
            <div class="pie-wrapper progress-full">
                <span class="label">83<em>%</em></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <span class="span">Bootstrap</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pie-wrapper progress-full">
                <span class="label">83<em>%</em></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <span class="span">CSS</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pie-wrapper progress-full">
                <span class="label">83<em>%</em></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <span class="span">Javascript</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pie-wrapper progress-full">
                <span class="label">83<em>%</em></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <span class="span">jQuery</span>
            </div>
        </div>
    </div>
    <div class="row" style="text-align:center;">
        <div class="col-md-3">
            <div class="pie-wrapper progress-full">
                <span class="label">83<em>%</em></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <span class="span">ASP.NET (MVC)</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pie-wrapper progress-full">
                <span class="label">83<em>%</em></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <span class="span">NHibernate</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pie-wrapper progress-full">
                <span class="label">83<em>%</em></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <span class="span">MS-SQL</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pie-wrapper progress-full">
                <span class="label">83<em>%</em></span>
                <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <span class="span">Entity-Framework</span>
            </div>
        </div>
    </div>

</div>