<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="../../../Images/metal-pendrive.jpg" alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title">{{title}}</h4>
                    <p class="card-text">Metal Pen Drive is one of the most popular product used now a days for promotional purpose. Its unique style, branding options along with great utility to contain data make it a perfect blend for Corporate Gifts and Promotional Giveaways.</p>
                    <a href="#" class="btn btn-primary">Add To Cart <i class="fa fa-plus" (click)="addItem()"></i> {{itemCount}} <i class="fa fa-minus" (click)="removeItem()"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="../../../Images/lg.jpg" alt="Card image" style="width:100%;">
                <div class="card-body">
                    <h4 class="card-title">{{title1}}</h4>
                    <div class="card-text">
                        <b>Key Features</b>
                        <ul>
                            <li>4K Ultra HD</li>
                            <li>Nano Cell DisplayTM</li>
                            <li>Active HDR™ with Dolby Vision</li>
                            <li>Billion Rich Color</li>
                            <li>Ultra Luminance</li>
                            <li> webOS Smart TV</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary">Add To Cart <i class="fa fa-plus" (click)="addItem1()"></i> {{itemCount1}} <i class="fa fa-minus" (click)="removeItem1()"></i> </a>
                </div>
            </div>
        </div>
    </div>

    <br>
</div>